.widget
  .widget-title
    i(class='fa fa-biao')= ' ' + __('tags')
  .tagcloud
    != tagcloud({min_font: 12, max_font: 20, amount: 100, color: true, start_color: theme.tagcloud_start_color, end_color: theme.tagcloud_end_color})
