RewriteEngine On
RewriteCond %{HTTP_HOST} ^hudi.site [NC]
RewriteRule ^(.*)$ http://www.hudi.site/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^weblink.hudi.site$
RewriteCond %{REQUEST_URI} !^/weblink/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /weblink/$1
RewriteCond %{HTTP_HOST} ^weblink.hudi.site$
RewriteRule ^(/)?$ weblink/index.html [L]

RewriteCond %{HTTP_HOST} ^huyunxiao.hudi.site$
RewriteCond %{REQUEST_URI} !^/huyunxiao/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /huyunxiao/$1
RewriteCond %{HTTP_HOST} ^huyunxiao.hudi.site$
RewriteRule ^(/)?$ huyunxiao/index.html [L]